.info-block {
  display: flex;
  flex-flow: column;
  padding: 80px;
  color: $pure-white;

  &__icon {
    width: 24px;
    height: 24px;

    svg {
      max-width: 100%;
      fill: $pure-white;
    }
  }

  &__title {

    h5 {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__text { line-height: 1.5; }
}