* { box-sizing: border-box; }

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: auto;
  min-height: 100%;
  min-width: 320*$rem;
  margin: 0;
  padding: 0;
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 15*$rem;
  line-height: $line-height;
  color: $main-text;
  background-color: $main-bg-color;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: nearest-neighbor;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: $dark-grey;
}

div,
textarea {
  outline: none;
}

button {
  background-color: transparent;
}

textarea,
button,
input {
  border: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

select {
  &::-ms-expand {
    display: none;
  }
}

@for $i from 1 through 5 {
  h#{$i} {
    font-size: (5 - $i) + rem;
    margin: 1.14rem  0.912rem;
    letter-spacing: 0.2*$rem;
    line-height: 1em;
  }
}

h1 { font-weight: 700; }

h5 {
  font-size: 26*$rem;
  font-weight: 400;
}

.container {
  background-color: transparent;
  margin: 0 auto;
  max-width: 1280px;

  &--grey {
    background-color: $second-bg-color;
  }
  &--blue {
    background-color: $support-block-background;
  }
  &--dark {
    background-color: $lower-blocks-background;
  }
  &--copyright {
    background-color: $copyright-bg-color;
  }
}
