.support {
  padding: 100*$rem 20*$rem 120*$rem 20*$rem;
  background-color: $support-block-background;

  @media(max-width: $tablet-max) {
    padding: 50*$rem 20*$rem 60*$rem 20*$rem;
  }

  &__inner {
    display: flex;

    @media(max-width: $tablet-max) {
      flex-flow: column;
    }
  }

  &__description {
    flex-basis: 40%;
    text-align: left;
    padding-right: 20*$rem;

    @media(max-width: $tablet-max) {
      flex-basis: 100%;
      padding-right: 0;
      text-align: center;
      margin-bottom: 40*$rem;
    }

    button.btn--deep-yellow {
      text-align: center;
    }

    h2 {
      margin: 0 0 25*$rem 0;
      font-weight: normal;
      color: white;
    }

    p {
      color: white;
      font-weight: normal;
      padding-top: 0;
      line-height: 1.5;
      font-size: 13*$rem;
      margin-bottom: 20*$rem;
    }
  }

  &__action-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25*$rem;

    @media(max-width: $desktop-md) {
      flex-flow: column;
    }

    @media(max-width: $tablet-max) {
      flex-flow: row;
    }

    @media(max-width: $tablet-max) {
      flex-flow: column;
    }

    .switcher {
      flex-basis: 50%;

      @media(max-width: $desktop-md) {
        text-align: center;
      }

      &__main {
        margin: 0 auto;
      }

      &__description {
        padding-right: 20px;
      }
    }
  }

  &__media {
    position: relative;
    height: 0;
    flex-basis: 60%;
    padding-bottom: 30%;
    padding-top: 30*$rem;
    overflow: hidden;
    background-color: $grey;

    @media(max-width: $tablet-max) {
      padding-bottom: 54%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}