$rem: 0.0625rem;

//--colors
$main-text: rgba(0, 0, 0, 0.87);
$main-bg-color: #ffffff;
$second-bg-color: #fafafa;
$pure-black: #000;
$light-black: #212121;
$grey: #9e9e9e;
$light-grey: #e6e6e6;
$dark-grey: #444;
$strange-gray: #bdbdbd;
$pink: #e91e63;
$raspberry: #8e24aa;
$deep-purple: #673ab7;
$light-blue: #3949ab;
$red: #f44336;
$light-red: #EF5350;
$yellow: #ff9800;
$pure-white: #ffffff;
$support-block-background: #00838f;
$lever-active: #84c7c1;
$lever-default: #818181;
$lever-circle: #F1F1F1;
$lower-blocks-background: #37474f;
$up-button-background: #455a64;
$copyright-bg-color: #263238;
$primary-button: #ffab40;

//--font-size
$main-font-family: 'Roboto', sans-serif;
$main-font-size: 0.0625rem;
$title-font-size: 2.1rem;
$line-height: 1;

// system
$default-radius: 3px;
$percent-saturation: 30;

//--adaptation width
$desktop-sm: 1560px;
$desktop-xs: 1440px;
$desktop-md-desctruct-point: 1281px;
$desktop-md: 1280px;
$tablet-upper-big-max: 1170px;
$tablet-upper-max-desctruct-point: 1025px;
$tablet-upper-max: 1024px; // iPad mini landscape
$tablet-max-desctruct-point: 993px;
$tablet-max: 992px;
$mobile-upper-max-desctruct-point: 855px;
$mobile-upper-max: 854px; // nokia n9 landscape
$mobile-max-desctruct-point: 769px;
$mobile-max: 768px;
$mobile-super-md: 656px;
$mobile-upper-md-desctruct-point: 601px;
$mobile-upper-md: 600px; // nexus 7 portrait
$mobile-md-destruct-point: 569px;
$mobile-md: 568px; // iPhone 5 landscape
$mobile-upper-sm: 490px;
$mobile-sm-desctruct-point: 481px;
$mobile-sm: 480px;
$mobile-between-sm-xs: 420px;
$mobile-xs-destruct-point: 361px;
$mobile-xs: 360px;



